*{
    margin: 0;
    padding: 0;   
}

body {
    background: url(bg.jpg) no-repeat center center fixed ;
    background-size: cover;
}

.container {
    /* border: 5px solid red; */
    color: white;
    position: absolute;
    top: 27%;
    left: 45%;
}

.container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid purple;
    margin-bottom: 35px;
    padding: 12px 0px;
    font-size: 40px;
}

.box {
    width: 100%;
    /* border: 2px solid yellow; */
    margin: 0px auto;
}

.box input {
    background: none;
    width: 75%;
    border: none;
    border-bottom: 2px solid purple;
    outline: none;
    padding: 5px;
    margin: 6px 3px;
    color: white;
    font-size: 18px;
    border-radius: 3px;

}

.box i{
    margin: 0px 5px 0px 30px;
}

.btn {
    background: none;
    color: white;
    cursor: pointer;
    outline: none;
    border: 3px solid purple;
    border-radius: 10px;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 8px auto;
}